.btn() {
    border:none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    border: @third-color 2px solid;
    cursor: pointer;
    font-size: .5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: @third-color;
}