.logo {
    width: auto;
    height: 30px;

    @media @desktop {
        width: auto;
        height: 60px;
    }
}

header {
    background-color: @lighter-text-color;
    padding: .5rem 0;

    @media @tablet {
        padding: 1.2rem 0;
    }

    @media @desktop {
        padding: 2rem 0;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;

        li {
            font-size: @mobile-sm-font;
            font-family: 'Oxygen', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            padding: .5rem 1rem;

            @media @tablet {
                font-size: @tablet-sm-font;
            }

            @media @desktop {
                font-size: @desktop-sm-font;
            }

            a {
                text-decoration: none;
                color: @dark-text-color;

                @media @tablet {
                    padding: .75rem 1.25rem;
                }

                @media @desktop {
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}

.desktop-menu {
    display: none;

    @media @tablet {
        display: block;
        display: flex;
        flex-direction: row;
    }

    @media @desktop {
        display: block;
        display: flex;
        flex-direction: row;
    }
}

.menu-wrap {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
    display: block;

    @media @tablet {
        display: none;
        z-index: 1;
    }

    @media @desktop {
        display: none;
    }

    .toggler {
        position: relative;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: .75rem;
        height: .75rem;
        opacity: 0;

        &:checked + .hamburger > div {
            transform: rotate(135deg);

            &:before, &:after {
                top: 0;
                transform: rotate(90deg);
            }
        }

        &:checked:hover + .hamburger > div {
            transform: rotate(225deg);
        }

        &:checked ~ .menu {
            visibility:visible;
            
            & > div {
                transform: scale(1);
                transition-duration: .5s;

                & > div {
                    opacity: 1;
                    transition: opacity 0.4s ease;
                }
            }
        }
    }

    .hamburger {
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
        width: 1.5rem;
        height: 1.5rem;
        padding: .75rem;
        background: darken(@lighter-text-color, 5);
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            position: relative;
            width: 100%;
            height: .2rem;
            background-color: @second-color;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in;

            &:before, &:after {
                content: '';
                position: relative;
                z-index: 1;
                top: -.5rem;
                width: 100%;
                height: .2rem;
                background: inherit;
            }

            &:after {
                top: .5rem;
            }
        }
    }
    
    .menu {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;


        & > div {
            background: @third-color;
            border-radius: 50%;
            width: 300vw;
            height: 300vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;

            & > div {
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;
            }

            & > div > ul > li {
                list-style: none;
                color: @light-text-color;
                font-size: 1.5rem;
                padding: 1rem;

                & > a {
                    color: inherit;
                    text-decoration: none;
                    transition: color 0.4 ease;
                }
            }

            & > div > ul {
                display: flex;
                flex-direction: column;
            }
        }

    }


}

