.logo {
    width: 120px;
    height: 34px;
}

header {
    background-color: @lighter-text-color;
    padding: 2rem 0;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;

        li {
            font-size: .5rem;
            font-family: 'Oxygen', sans-serif;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: @dark-text-color;
            }
        }
    }
}