/** THEME COLOR **/
@first-color: @iron;
@second-color: @seance;
@third-color: @treePoppy;
@fourth-color: @monza;
@light-text-color: @white;
@lighter-text-color: @dirtyWhite;
@dark-text-color: @grey;

@iron: #dadddf;
@treePoppy: #f69314;
@monza: #c40b13;
@seance: #621295;
@white: #fff;
@dirtyWhite: #EBEBEB;
@grey: #333;

@mobile-lg-font: 1rem;
@mobile-md-font: .8rem;
@mobile-sm-font: .5rem;

@tablet-lg-font: 1.5rem;
@tablet-md-font: 1rem;
@tablet-sm-font: .8rem;

@desktop-lg-font: 2rem;
@desktop-md-font: 1.5rem;
@desktop-sm-font: 1rem;

@tablet: ~'(min-width: 767px)';
@desktop: ~'(min-width: 991px)';